<div>
		<div class="panel panel-default col-lg-6 col-lg-offset-3">
			<div class="panel-body">
				<p class="col-lg-6">A listing of your movies listed below</p>
				{{link-to "Add Movies" 'movies.create' class="btn btn-primary btn-large col-lg-6 pull-right"}}
			</div>
			<ul class="list-group">
				{{#each}}
				<li class="list-group-item">{{link-to title 'movies.show'}} <small class="pull-right">{{rating}}</small></li>
				{{/each}}
			</ul>
		</div>
</div>
